(!ACCa||((!ATTba||!ACCb)&&(!ATTca||!ACCc)))
&&(!((!ATTba||!ACCb)&&(!ATTca||!ACCc))||ACCa)
&&(!ACCb||((!ATTab||!ACCa)&&(!ATTcb||!ACCc)))
&&(!((!ATTab||!ACCa)&&(!ATTcb||!ACCc))||ACCb)
&&(!ACCc||(ONc&&(!ATTac||!ACCa)&&(!ATTbc||!ACCb)))
&&(!(ONc&&(!ATTac||!ACCa)&&(!ATTbc||!ACCb))||ACCc)
&&ATTab&&ATTca&&!ATTaa&&!ATTac&&!ATTba&&!ATTbb&&!ATTbc&&!ATTcb&&!ATTcc
