#Theory generation
T1.nbEpistemicArguments = 5
T1.nbPracticalArguments = 3
T1.rateOfControlArguments = 0.4
T1.density = 0.3

T2.nbEpistemicArguments = 5
T2.nbPracticalArguments = 3
T2.rateOfControlArguments = 0.4
T2.density = 0.3

sharedTheory.nbEpistemicArguments = 3
sharedTheory.nbPracticalArguments = 2
sharedTheory.preferredRateOfControlArguments = 0
sharedTheory.rateOfAttacks = 0.3

#caf generation
caf1.rateOfFixedArguments = 0.7
caf1.rateOfControlArguments = 0.5
caf1.rateOfCertainAttacks = 0.4
caf1.rateOfUncertainAttacks = 0.3
caf1.rateOfUndirectedAttacks = 0.3

caf2.rateOfFixedArguments = 0.7
caf2.rateOfControlArguments = 0.5
caf2.rateOfCertainAttacks = 0.4
caf2.rateOfUncertainAttacks = 0.3
caf2.rateOfUndirectedAttacks = 0.3

