#Theory generation
T1.nbEpistemicArguments = 7
T1.nbPracticalArguments = 2
T1.rateOfControlArguments = 0.4
T1.density = 0.2

T2.nbEpistemicArguments = 7
T2.nbPracticalArguments = 2
T2.rateOfControlArguments = 0.4
T2.density = 0.2

sharedTheory.nbEpistemicArguments = 0
sharedTheory.nbPracticalArguments = 0
sharedTheory.preferredRateOfControlArguments = 0
sharedTheory.rateOfAttacks = 0

#caf generation
caf1.rateOfFixedArguments = 0.3
caf1.rateOfControlArguments = 1
caf1.rateOfUncertainArguments = 0.7
caf1.rateOfCertainAttacks = 0.5
caf1.rateOfUncertainAttacks = 0.5
caf1.rateOfUndirectedAttacks = 0
caf1.densityOfControlAttacks = 0.2

caf2.rateOfFixedArguments = 0.3
caf2.rateOfControlArguments = 1
caf2.rateOfUncertainArguments = 0.7
caf2.rateOfCertainAttacks = 0.5
caf2.rateOfUncertainAttacks = 0.5
caf2.rateOfUndirectedAttacks = 0
caf2.densityOfControlAttacks = 0.2

#offers
offers = [0.5, 0.5]


