#Theory generation
T1.nbEpistemicArguments = 9
T1.nbPracticalArguments = 5
T1.rateOfControlArguments = 0.5
T1.density = 0.1

T2.nbEpistemicArguments = 9
T2.nbPracticalArguments = 5
T2.rateOfControlArguments = 0.5
T2.density = 0.1

sharedTheory.nbEpistemicArguments = 1
sharedTheory.nbPracticalArguments = 1
sharedTheory.preferredRateOfControlArguments = 0
sharedTheory.rateOfAttacks = 0

#caf generation
caf1.rateOfFixedArguments = 0
caf1.rateOfControlArguments = 0.5
caf1.rateOfCertainAttacks = 0
caf1.rateOfUncertainAttacks = 0.2
caf1.rateOfUndirectedAttacks = 0.2
caf1.densityOfControlAttacks = 0.5

caf2.rateOfFixedArguments = 0
caf2.rateOfControlArguments = 0.5
caf2.rateOfCertainAttacks = 0
caf2.rateOfUncertainAttacks = 0.8
caf2.rateOfUndirectedAttacks = 0.2
caf2.densityOfControlAttacks = 0.5

#offers
offers = [0.25,0.25,0.25,0.25]


